*{
	margin:0;
	padding: 0;
	box-sizing: content-box;
/*	height: 100%;*/
}
html{
	height: 100%;
	background-color: rgba(0, 0, 0, 0.03);
}
body{
	height: 100%;
/*	padding: 0px;*/
}
#menu-sidebar { grid-area: menu; }
#conteudo { grid-area: conteudo; }
#page{
/*	width: auto;*/
	height: 100%;
	display: grid;
	/*grid-template-columns:  repeat(5, 150px);
  grid-template-rows: repeat(5, 100px);*/
  gap: 1%;
  background-color: rgba(0, 0, 0, 0.07);
	/*  padding: 10px;*/
   grid-template-areas:
    'menu conteudo';
    grid-template-columns: 15% auto;
   	grid-template-rows: 100% 100%;
}
#page > div{	
  padding: 20px 20px;
}
#conteudo{
	width: 98%;
	display: grid;
	align-items: center;
/*	justify-content: center;*/
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
/*	align-items: start;	*/
}
ul li{
	margin-top: 25px;
/*	margin-right: 10px!important;*/
}
ul li a{
	position: relative;
	text-decoration: none;
	color:black;
	font-size: 18px;
	font-family: "verdana";
}
ul li a:hover{
	color: white!important;
}
#menu-sidebar{
	background-color: rgb(255,100,0);
}
#dividir_conta{
	display: inline-grid;
  height: auto;
  box-sizing: content-box;
}
#dividir_conta #div_conta_formulario #comida_nome{
	display: inline-grid;
	align-items: center;
	height: 20px;
	width: 10%;
}
#dividir_conta #div_conta_formulario #cliente_comida{
	display: inline-grid;
	margin-left: 20px;		
	width: 10px;
	grid-column: 2;
	color: red!important;
	width: 20px;
}
#dividir_conta #div_label_conta{
	display: inline-grid;
	text-align: center;
}
#dividir_conta #div_label_conta label{
		display: inline-grid;
		text-align: justify;
		width: 10%;
		margin-top: 0px;
		margin-left: 0px;
	}
#dividir_conta input[type="checkbox"]{
}
#dividir_conta #div_conta_formulario{
/*	width:25%!important;*/
/*	color: red;*/
}
@media screen and (max-width:1280px){
	#dividir_conta #div_conta_formulario #comida_nome{
/*		color: red;*/
		margin-top: 5px;
		align-items: start;
		width:20%;
		height: 20px;
	}
	#dividir_conta #div_conta_formulario input[type="checkbox"]{
		width: 10%;
/*		margin-top: 50px;*/
	}
	#page{
		height: 100%;
		display: grid;
	  gap: 1%;
	  background-color: rgba(0, 0, 0, 0.03);
		grid-template-areas:
		'menu conteudo conteudo conteudo conteudo conteudo conteudo';
		grid-template-columns: 20% auto;
		grid-template-rows: 100%;
	}
	#dividir_conta #div_label_conta label{
		display: inline-grid;
		text-align: justify;
		width: 10%;
		margin-top: 10px;
		margin-left: 0px;
	}
}
@media screen and (max-width:830px){
	#page{
		height: 100%;
		display: grid;
	  gap: 1%;
	  background-color: rgba(0, 0, 0, 0.03);
	   grid-template-areas:
	    'menu menu'
	    'conteudo conteudo';
	    grid-template-columns: auto auto;
	   	grid-template-rows: 15% 84%;
	}/*
	#menu-sidebar{
		display: inline-block;
		align-items: center;
	}*/
	ul li{
		display: grid;
		margin-top: 35px;
		float: right;
		align-items: center;
	}
  ul li a{
		color:black;
		font-size: 15px;
		font-family: "verdana" sans-serif;
		padding: 5px;
	}
	#dividir_conta #div_conta_formulario #comida_nome{
		display: inline-grid;
		text-align: justify;
/*		width: 10%;*/
/*		margin-top: 10px;*/
		margin-left:0px;
		color: red;
	}
	#dividir_conta #div_conta_formulario input[type="checkbox"]{
		margin-left: 0px;
	}
}
@media screen and (max-width:580px){
	#dividir_conta #div_conta_formulario{
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#dividir_conta #div_conta_formulario #comida_nome{
		 align-items: center;
		 color: red;
		 margin-top: 5px;
		 width: auto;
	}
	#dividir_conta #div_conta_formulario input[type="checkbox"]{
		 display: flex;
		 align-items: center;
		 margin-top: 10px;
		 margin-right: 20px;
	}
	#page{
		display: grid;
	  gap: 1%;
	  background-color: rgba(0, 0, 0, 0.03);
		/*  padding: 10px;*/
	   grid-template-areas:
	    'menu menu menu'
	    'conteudo conteudo conteudo';
	    grid-template-columns: auto auto auto;
	   	grid-template-rows: 15% 84%;
	}
	#dividir_conta #div_conta_formulario #label_nome_cliente{
		/*display: inline-grid;
		text-align: center;*/
		width: auto!important;
		margin-top: 10px;
		margin-left: 0px;
/*		color: red;*/
	}
	#dividir_conta #div_label_conta #label_nome_cliente{
/*		display: inline-grid;*/
		text-align: center;
		margin-top: 10px;
	}
	ul li{
		display: grid;
		margin-top: 35px;
		align-items: center;
	}
  ul li a{
		color:black;
		font-size: 10px;
		font-family: "verdana";
		padding: 5px;
	}
}
@media screen and (max-width:380px){
	#page{
		display: grid;
	  gap: 1%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.03);
		/*  padding: 10px;*/
	   grid-template-areas:
	    'menu menu menu'
	    'conteudo conteudo conteudo';
	    grid-template-columns: auto auto auto;
	   	grid-template-rows: 15% 84%;
	   	box-sizing: content-box;
	}
	#dividir_conta #div_conta_formulario{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: content-box;
	}
	#dividir_conta #div_conta_formulario #comida_nome{
		 color: red;
		 box-sizing: content-box;
	}
	#dividir_conta #div_conta_formulario input[type="checkbox"]{
		 flex: none;
		 box-sizing: content-box;
	}
	#dividir_conta #div_label_conta label{
		display: inline-grid;
		text-align: justify;
		width: 10%;
		margin-top: 10px;
		margin-left: 40px;
	}
	ul li{
		display: inline-block;
		margin-top: 17px;
/*		align-items: center;*/
		float: right;
	}
  ul li a{
		color:black;
		font-size: 10px;
		font-family: "verdana";
		padding: 5px;
	}
}
@media screen and (max-width:280px){
	#conteudo #retornar_msg{
		height: 80px!important;
	}
	#dividir_conta #div_conta_formulario{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#dividir_conta #div_conta_formulario #comida_nome{
/*		 align-items: center;*/
		 color: red;
	}
	#dividir_conta #div_conta_formulario input[type="checkbox"]{
		 flex: none;
	}
	#page{
		display: grid;
	  gap: 1%;
	  background-color: rgba(0, 0, 0, 0.03);
		/*  padding: 10px;*/
	   grid-template-areas:
	    'menu menu menu'
	    'conteudo conteudo conteudo';
	    grid-template-columns: auto auto auto;
	   	grid-template-rows: 15% 84%;
	}
	ul li{
		display: inline-block;
		margin-top: 10px;
/*		align-items: center;*/
		float: right;
	}
  ul li a{
		color:black;
		font-size: 10px;
		font-family: "verdana";
		padding: 5px;
	}
}